*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Georgia',serif;
}


body{

min-height:100vh;

background:linear-gradient(
45deg,
#140008,
#59002d,
#1b0018,
#000
);

background-size:400% 400%;

animation:fundo 15s infinite;

color:white;

display:flex;

justify-content:center;

align-items:center;

}



@keyframes fundo{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}




.livro{

width:90%;

max-width:600px;

}



.pagina{

display:none;

background:rgba(0,0,0,0.35);

padding:40px;

border-radius:25px;

text-align:center;

animation:entrada 1s;

}



.pagina.ativa{

display:block;

}



h1{

font-size:38px;

margin-bottom:25px;

}



p{

font-size:20px;

line-height:1.6;

margin-bottom:20px;

}



button{

padding:15px 30px;

border:none;

border-radius:30px;

cursor:pointer;

font-size:18px;

margin-top:20px;

}



button:hover{

transform:scale(1.05);

}




.galeria{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-top:20px;

}



.galeria img{

width:100%;

border-radius:15px;

}




h2{

margin-top:30px;

}



@keyframes entrada{

from{

opacity:0;

transform:translateX(50px);

}

to{

opacity:1;

transform:translateX(0);

}

}
